{% extends 'disposition_standard.html.twig' %}

{% block title %}Profil{% endblock %}

{% block contenu %}

<div class="example-wrapper">
    <ul>
        <li>Rôle :  {% if is_granted("ROLE_ADMIN") %} Administrateur
                    {% elseif is_granted("ROLE_EDUCATEUR") %} Éducateur
                    {% elseif is_granted("ROLE_FAMILLE") %} Famille
                    {% endif %}
        <li>Nom : {{utilisateur.nom}}</li>
        <li>Prénom : {{utilisateur.prenom}}</li>
        <li>Adresse mail : {{utilisateur.email}}</li>
        <li>Telephone : {{utilisateur.telephone}}</li>
        {% if is_granted("ROLE_FAMILLE")%}
        <li>Adresse : {{utilisateur.adresse}}</li>
        <li>Code postal : {{utilisateur.codePostal}}</li>
        <li>Ville : {{utilisateur.ville}}</li>
        {% endif %}
        <img src="{{ vich_uploader_asset(utilisateur, 'photo') }}" alt="photo de profil">

    </ul>
</div>
{% endblock %}
