{#
Les disponibilités d'une famille
    (Famille) famille : La famille dont on affiche les disponibilités
#}

{% extends 'disposition_standard.html.twig' %}

{% block title %}Handi'chiens - Disponibilités de la famille {{ famille.nom }}{% endblock %}

{% block contenu %}


    <h1>
        {% if famille == app.user %}
            Vos disponibilités
        {% else %}
            Disponibilités de la <a href="{{ path('app_famille_details', {famille: famille.id}) }}">famille {{ famille.nom }}</a>
        {% endif %}

    </h1>

    {# Si la famille consulte son propre profil, elle peut ajouter une disponibilité #}
    {% if famille == app.user %}
        <a href="{{ path('app_mes_disponibilites_ajouter') }}">Nouvelle disponibilité</a>
    {% endif %}


    {% if famille.disponibilites is empty %}
        <p>Aucune disponibilité !</p>
    {% else %}
        <ul>
            {% for dispo in famille.disponibilites %}
                <li>{{ dispo.debut|format_date ~ ' - ' ~ dispo.fin|format_date }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    

{% endblock %}
