{% extends 'disposition_standard.html.twig' %}

{% block title %}Handi'chiens - Accueil{% endblock %}

{% block contenu %}

{#    TODO : Vue temporaire, à diviser dans d'autres templates #}
    {#
        Affichage conditionnel en fonction du type d'utilisateur :
        - Si authentifié, afficher un message personnalisé + un bouton de déconnexion
        - Sinon, inviter à s'authentifier
    #}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if is_granted('ROLE_ADMIN') %}
            Vous êtes connecté en tant qu'administrateur.
        {% elseif is_granted('ROLE_EDUCATEUR') %}
            Vous êtes connecté en tant qu'éducateur.
        {% elseif is_granted('ROLE_FAMILLE') %}
            Bonjour {{ app.user.nom }}.
            {# TODO : Vérifier que l'utilisateur est bien une famille pour éviter toute erreur ?#}
            Vos disponibilités :
            <ul>
            {% for disponibilite in app.user.disponibilites %}
                <li>
                    {% if disponibilite.libelle is not null %}
                        {{ disponibilite.libelle ~ ' : ' }}
                    {% endif %}
                    {{ disponibilite.debut|date ~ ' - ' ~ disponibilite.fin|date }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <a href="{{ path('app_deconnexion') }}">Se déconnecter.</a>
    {% else %}
        Vous n'êtes pas authentifié. <a href="{{ path('app_connexion') }}">Se connecter.</a>
    {% endif %}


{% endblock %}
