{# <p>Liste des familles ayant des disponibilités comprises entre {{ debut|format_datetime }} et {{ fin|format_datetime }}</p> #}
<div {{ attributes }}>

    <input
            type="date"
            data-model="debut"
{#            TODO : Sinon l'input se remet à zéro à chaque changement#}
            value="{{ debut|date('Y-m-d') }}"
    >
    <input
            type="date"
            data-model="fin"
            value="{{ fin|date('Y-m-d') }}"
    >

    <p>Requête :</p>
    {{ dump(debut) }}
    {{ dump(fin) }}


    <ul>
        {% if this.familles is empty %}
            <p>Aucune famille ne peut accueillir de chiens sur la plage : {{ debut|format_datetime }} - {{ fin|format_datetime }}</p>

        {% else %}
            {% for famille in this.familles %}
                <li>{{ famille }}</li>
            {% endfor %}
        {% endif %}

    </ul>
</div>