<div {{ attributes }}>
    {{ form_start(form) }}
    {{ form_row(form.chien) }}
    {{ form_row(form.debut) }}
    {{ form_row(form.fin) }}
    {{ form_row(form.famille) }}
    {{ form_end(form) }}
</div>