<nav class="navigation" {{ stimulus_controller('navbar') }}>
	<a href="/" class="navigation__accueil">
		<img class="navigation__accueil--logo" src="{{ asset('images/logo_handichiens.png') }}" alt="logo accueil">
	</a>

	{% if app.user %}

		<button class="navigation__toggle" {{ stimulus_action('navbar', 'toggleMenu')}}>
			<span class="navigation__toggle--bar"></span>
			<span class="navigation__toggle--bar"></span>
			<span class="navigation__toggle--bar"></span>
		</button>

		<div class="navigation__menu" {{ stimulus_target('navbar', 'menuList') }}>

			<ul class="navigation__menu--liste">
				<li>
					<a class="navigation__lien" href="/">Accueil</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a class="navigation__lien" href="/">Les Éducateurs</a>
					</li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDUCATEUR') %}
					<li>
						<a class="navigation__lien" href="/">Les Chiens</a>
					</li>
					<li>
						<a class="navigation__lien" href="/">Les Familles Relais</a>
					</li>
				{% elseif is_granted('ROLE_FAMILLE') %}
					<li>
						<a class="navigation__lien" href="/">Mes Disponibilités</a>
					</li>
				{% endif %}
				<li>
					<a class="navigation__lien" href="/profil">Mon Profil</a>
				</li>
				<li>
					{{component('bouton', { type: 'principal',href: 'deconnexion', texte: 'Déconnexion' })}}
				</li>
			</ul>

		</div>

	{% endif %}
</nav>
